.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
}
