.two-columns__brief {
  width: 175px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #2f80ed;
  margin-top: 0;
}
